---
import { LINKS } from "../lib/constants";

interface Props {
  title: string;
  description: string;
  keywords?: string;
  page?: "travel" | "blog" | "projects" | "mvp";
  slug?: string | undefined;
  pubDate?: string;
}

const { title, description, keywords, page, slug, pubDate } = Astro.props;
const image =
  page === "travel"
    ? `${Astro.url.origin}/globe_preview.webp"`
    : `${Astro.url.origin}/og-image.png`;

const schema = {
  "@context": "http://schema.org",
  "@type": "Person",
  name: "Akhil Jacob",
  url: Astro.url.origin,
  sameAs: [LINKS.linkedin, LINKS.github],
  image: `${Astro.url.origin}/og-image.png`,
  jobTitle: "Software Engineer",
  worksFor: {
    "@type": "Organization",
    name: "Self-Employed",
    address: {
      "@type": "PostalAddress",
      addressLocality: "San Diego",
      addressRegion: "California",
      addressCountry: "US",
    },
  },
  nationality: {
    "@type": "Country",
    name: "United States",
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11433083364"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YX627VG8XM");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {keywords && <meta name="keywords" content={keywords} />}
    <meta name="robots" content="index, follow" />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || `${Astro.url.origin}/og-image.png`}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || `${Astro.url.origin}/og-image.png`}
    />

    <link rel="preconnect" href="https://cdn.fontshare.com" />
    {
      page === "travel" && (
        <link rel="canonical" href={`${Astro.url.origin}/travel`} />
      )
    }
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
    ></script>
  </head>
  <body
    class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center"
  >
    <slot name="loader" />
    <slot />
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        if (window.particlesJS) {
          const particlesConfig = {
            particles: {
              number: {
                value: 100,
                density: {
                  enable: true,
                  value_area: 800,
                },
              },
              color: {
                value: "#ffffff",
              },
              shape: {
                type: "circle",
                stroke: {
                  width: 0,
                  color: "#000000",
                },
                polygon: {
                  nb_sides: 5,
                },
              },
              opacity: {
                value: 0.5602948255589136,
                random: true,
                anim: {
                  enable: false,
                  speed: 1,
                  opacity_min: 0.1,
                  sync: false,
                },
              },
              size: {
                value: 3.945738208161363,
                random: true,
                anim: {
                  enable: false,
                  speed: 40,
                  size_min: 0.1,
                  sync: false,
                },
              },
              line_linked: {
                enable: true,
                distance: 142.0465754938091,
                color: "#ffffff",
                opacity: 0.4,
                width: 1,
              },
              move: {
                enable: true,
                speed: 4,
                direction: "none",
                random: true,
                straight: false,
                out_mode: "out",
                bounce: false,
                attract: {
                  enable: false,
                  rotateX: 600,
                  rotateY: 1200,
                },
              },
            },
            interactivity: {
              detect_on: "window",
              events: {
                onhover: {
                  enable: true,
                  mode: "repulse",
                },
                onclick: {
                  enable: true,
                  mode: "push",
                },
                resize: true,
              },
              modes: {
                grab: {
                  distance: 400,
                  line_linked: {
                    opacity: 1,
                  },
                },
                bubble: {
                  distance: 400,
                  size: 40,
                  duration: 2,
                  opacity: 8,
                  speed: 3,
                },
                repulse: {
                  distance: 200,
                  duration: 0.4,
                },
                push: {
                  particles_nb: 4,
                },
                remove: {
                  particles_nb: 2,
                },
              },
            },
            retina_detect: true,
          };

          window.particlesJS("particles-js", particlesConfig);
          console.log("Particles.js initialized successfully");
        } else {
          console.error("Particles.js not loaded");
        }
      });
    </script>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
  }

  body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cabinet Grotesk", sans-serif;
  }
  p {
    font-family: "Satoshi";
  }

  b {
    font-weight: 700 !important;
  }
</style>
